@import "./../../../assets/styles/theme";

.navbar {
  background: $info;
  color: white !important;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .navbar-brand{
    padding-top: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Cedarville Cursive', cursive !important;
  }
}

.navbar-nav > li > a {
  color: white !important;
  text-transform: capitalize;
  font-weight: 400;
}

.nav-link {
  cursor: pointer;
}
