<nav class="navbar fixed-top navbar-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>El Baratón</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
    <div class="collapse navbar-collapse mb-auto mt-2" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/'"><i class="fa fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'carrito'"><i class="fa fa-shopping-cart"></i> Carrito <span class="badge badge-light ml-2">{{count}}</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

