@import "./../../../assets/styles/theme";

.filter {
  margin-top: 90px;
  padding-top: 120px;
  background: $gray-background;
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-cards {
  background: white;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.no-results {
  font-size: 30px;
  color: #8a9bad;
  text-transform: uppercase;
  padding-top: 40px;
}

label {
  text-transform: uppercase;
  color: $info;
}

.category {
  text-transform: uppercase;
  cursor: pointer;
  font-size: larger;
  color: $info;
}

.category:hover {
  color: #9d83d6;
}

.categoryName {
  color: $info;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

.link-todos{
  font-size: medium;
  color: #8a9bad !important;
  text-transform: uppercase;
  cursor: pointer;
}
