<div class="container">
  <div class="table-responsive">

    <table class="table tablitas">
      <thead class="tabla">
      <tr>
        <td>Imagen</td>
        <td>Nombre</td>
        <td>Precio Unitario</td>
        <td>Cantidad</td>
        <td>Precio Total</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listProducts">
        <td>
          <img src="assets/images/sm.png" class="img-fluid">
        </td>
        <td>
          <b>{{item.item.name}}</b><br>
          <p>Disponibilidad: {{item.item.quantity}}</p>
        </td>
        <td>
          {{item.item.price|number : '1.2-2'}}$
        </td>
        <td>
          <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-radius: 0px;"
                                (click)="sub(item)">-</button>
                      </span>
            <input type="text" class="form-control" [(ngModel)]="item.cantidad" (change)="updateTotal()">
            <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-radius: 0px;"
                                (click)="add(item)">+</button>
                      </span>
          </div>
          <button class="btn btn-link" (click)="removerItem(item)"><i class="fa fa-trash-o"></i> Remover
          </button>
        </td>
        <td class="text-info">
          {{item.item.price*item.cantidad|number : '1.2-2'}}$
        </td>
      </tr>
      <tr>
        <td colspan="5" class="sinbordes">
          <br>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="sinbordes-dos">

        </td>
        <td class="total">
          Total
        </td>
        <td class="total-number text-info">
          {{total|number : '1.2-2'}} $
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row pt-3">
    <div class="col-md-4 m-auto">
      <button class="btn btn-info btn-block btn-lg" style="text-transform: uppercase" (click)="procederCompra()">
        <i class="fa fa-check-circle"></i> Proceder en la compra
      </button>
    </div>
  </div>
</div>
