@import "./../../../assets/styles/theme";

.container {
  padding-top: 120px;
}

thead {
  background: $info;
  color: white;
}


.total {
  font-size: larger;
  text-transform: uppercase;
  font-weight: 800;
}

.total-number {
  font-weight: 800;
  font-size: larger;
}
