<div class="card">
  <img class="card-img-top" src="assets/images/xl.png">
  <div class="card-body">
    <h5 class="card-title">{{item.name}} </h5>
    <small> <span class="text-success" *ngIf="item.available">Disponible</span> <span class="text-danger" *ngIf="!item.available">No disponible</span></small>
    <p class="card-text">
      <span title="Precio"><i class="fa fa-money"></i> ${{item.price | number : '1.2-2' }}</span>
      <span class="ml-5" title="Cantidad"><i class="fa fa-archive"></i> {{item.quantity}}</span>
    </p>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li>
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" style="border-radius: 0px;" (click)="sub()" [disabled]="!item.available">-</button>
            </span>
            <input type="text" class="form-control" name="{{item.id}}" [(ngModel)]="cantidad" (change)="validationNumber()" [disabled]="!item.available">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" style="border-radius: 0px;" (click)="add()" [disabled]="!item.available">+</button>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" style="border-radius: 0px;" (click)="addToCart()" [disabled]="!item.available"><i
                class="fa fa-shopping-cart"></i> Agregar</button>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
